@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
.bg-holder{
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
body{
    font-family: 'Nunito Sans', Courier, monospace;
    background-color: #f4e4c4;
    }
    h1{
        color: #d73e0b;
        text-align: center;
        font-size: 95px;
        font-family: 'Nunito Sans';
        font-weight: 900;
    }
    h3{
        color: rgb(216, 70, 17);
        text-align: center;
        font-family: 'Nunito Sans';
        font-size: 50px;
    }
    p{
        color: rgb(113, 49, 104);
        text-align: center;
    }