@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
.bg-holder{
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
body{
    font-family: 'Nunito Sans', Courier, monospace;
    background-color: #f4e4c4;
    }
    h1{
        color: #d73e0b;
        text-align: center;
        font-size: 80px;
        font-family: 'Nunito Sans';
        font-weight: 500;
    }
    h3{
        color: rgb(216, 70, 17);
        text-align: center;
        font-family: 'Nunito Sans';
        font-size: 50px;
        font-weight: 600;
    }
    p{
        color: rgb(255, 207, 118);
        text-align: center;
    }
      
      .btn {
        background-color: hwb(40 61% 2%);
        color: rgb(94, 93, 93);
        border-radius: 12px;
        font-size: 16px;
        font-weight: 800;
    }

    .button i {
        vertical-align: middle;
    }
    .divider-content-center{
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        background-color: #f4e4c4;
        font-weight: 500;
        color: #4d4d4d;
    }
    .divider{
        margin: 2rem 0;
    }
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }